.customerInfoForm {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    padding: 0px;

    width: 100%;

    font-size: 2rem;

    position: absolute;
}

.formTBody {
    background-color: rgba(133, 79, 21, 0.36);
    border: none;
}

#addressType {
    width: 70%;
    font-size: 1.7rem;
}

.textInput {
    width: 100%;
    height: 1.8rem;
}

/* .formSubmitButton {
    width: inherit;
    height: 5vh;
    font-size: 2rem;

    position: relative;

    align-self: center;
} */

.submitButtonWrapper {
    width: inherit;

    justify-content: center;
}