.formWrapper {
    display: inline-table;

    background-color:rgba(133, 79, 21, 0.736);
    
    border-style: solid;
    border-color:rgba(133, 79, 21);

    width: 55vw;

    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.formWrapper>tr {
    width: 100%;

    justify-content:flex-start;
    display: inline-table;
}

.queryTd {
    display: inline-table;
    height: inherit;
    width: 100%;
    height: 100%;

    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.queryWrapper {
    display: inline-flex;
    height: inherit;
    width: 100%;

    position: relative;
    
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
}

.queryButton {
    background-color: rgba(133, 79, 21);
    color: white;
    border: none;
}

.queryButton:hover {
    background-color:rgb(153, 100, 44)
}