.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-header {
  overflow:hidden;
  background-image: url("background.jpg");
  justify-content: center;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  z-index: -1;

  top: 0;

  margin:0px;
  padding:0px;

  font-family: Arial, Helvetica, sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: rgb(133, 79, 21);
  color: white;
  box-shadow: none;
  border: none;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  margin: 1px;
}

.button:hover {
  /* box-shadow: 1.5px 1px rgb(107, 56, 2); */
  background-color: rgb(183, 122, 57);
}

.input {
  background-color: rgba(125, 86, 45, 0.626);
  color: white;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  border: solid;
  border-color: rgb(94, 90, 84);
}

.selectInput {
  background-color: rgb(133, 79, 21);
  color: white;

  border: none;
}

.selectInput:hover {
  background-color: rgb(181, 108, 30);
}

.label {
  color: rgb(121, 64, 2);

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}